@charset "utf-8";
/* CSS Document */
HTML, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* tags pricipais */
body{float:left; width:100%; margin:0; padding:0;}
nav{float:left; width:87%; margin:0; padding:10px 5px; border-radius:10px;
/* IE10+ */ 
background-image: -ms-linear-gradient(top, #6EC44F 0%, #0A523A 30%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #6EC44F 0%, #0A523A 30%);

/* Opera */ 
background-image: -o-linear-gradient(top, #6EC44F 0%, #0A523A 30%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6EC44F), color-stop(30, #0A523A));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #6EC44F 0%, #0A523A 30%);

/* W3C Markup */ 
background-image: linear-gradient(to bottom, #6EC44F 0%, #0A523A 30%);
}
nav ul.menu{float:left; width:100%;  margin:0;}
nav ul.menu li{float:left; width:auto; margin:0 1.2% !important; font-size:15px; color:#fff;}
nav ul.menu li:first-chid{margin:0 3% 0 0 !important;}
nav ul.menu li a{float:left; text-decoration:none;}
img{float:left; width:100%; margin:0; padding:0;}
ul{float:left; list-style:none;}
h1{font-size:100px;}
h2{font-size:36px;}
h3{font-size:20px;}
h4{font-size:16px;}
h5{font-size:14px;}
strong{font-size:12px;}
span{font-size:12px;}
select{float:left; padding:2% 1%; border-radius:3px;}
input{float:left; padding:2% 2%; border-radius:3px; border-width:1px !important;}

/* ids */
#wrapper{float:left; width:100%; margin:0; padding:0;}
#container{display:table; width:70%; margin:3% auto 0; padding:0;}

/* classes */
.sombra{-webkit-box-shadow: -1px 2px 15px -1px rgba(48, 50, 50, 0.8);
-moz-box-shadow:    -1px 2px 15px -1px rgba(48, 50, 50, 0.8);
box-shadow:         -1px 2px 15px -1px rgba(48, 50, 50, 0.8);
}
.w100{width:100%;}
.w95{width:95%;}
.w90{width:90%;}
.w85{width:85%;}
.w80{width:80%;}
.w75{width:75%;}
.w70{width:70%;}
.w65{width:65%;}
.w60{width:60%;}
.w58{width:58%;}
.w55{width:55%;}
.w50{width:50%;}
.w45{width:45%;}
.w40{width:40%;}
.w35{width:35%;}
.w30{width:30%;}
.w25{width:25%;}
.w20{width:20%;}
.w15{width:15%;}
.w10{width:10%;}
.w5{width:5%;}
.center{float:left; width:100%; text-align:center;}
.fontbold{font-family:'babelsansbold';}
.fontregular{font-family:'babelsansregular';}
.fontitalic{font-family:'babelsansbold_italic';}
.titulo{float:left; width:100%; margin:4% 0 ;}
.subtitulo{float:left; width:70%;}
.white{color:#fff;}
.red{color:#d60606; }
.green{ color:#09a481;}
.woman{position:absolute; float:left; width:30%; z-index:-1; left: 42% !important; top:21.5%;}
.linha{position:relative; float:left; width:100%; background:url(images/linha.png) repeat-x; text-indent:-5000em; margin:1% 0 0;}
.topm{margin-top:3% !important;}

/* Box left */
.left{float:left; width:70%;}
.left ul{float:left; width:100%; margin:0;}
.left ul li:first-child{margin:2% 2% 0 0%;}
.left ul li{float:left; width:13%; height:100%; margin:2% 2% 0 0%;}
.left ul li img{float:left; width:100%; height:20%; margin:0; padding:0;}

/* box right */
.right{float:right; width:30%;}
.right .canal{float:left; font-size:14px; width:100%; text-transform:uppercase; line-height:20px;}
.right .box{float: left; width: 17%; background: #fff ;border-radius: 5px; padding: 1% 2%;  margin: 4% 0; position: absolute; right: 15%; z-index:1;}
.right .box2{float:left; width:92%; background:#d8e1e4; margin:2% 0 0; padding:10% 4%;}
.right .box2 ul{float:left; width:100%;}
.right .box2 ul li{float:left; width:100%; margin:3% 0;}
.right ul{float:left; width:100%; margin:5% 0 0;}
.right ul li{float:left; width:auto; margin:0 3%;}
.right ul li:first-child{margin:0;}
.right  ul li a{float:left; text-decoration:none;}
.botao{display:table; width:60%; padding:9% 20%; margin:0 auto; background:#FF0000; font-size:14px; color:#fff; text-transform:uppercase; text-align:center; text-decoration:none; border-radius:5px;}
.info{float:left; width:9%; margin-left:1%; height:100%; }

